[defaults]
host_key_checking = False
inventory = inventory/aws_ec2.yml
remote_user = ec2-user
private_key_file = ~/.ssh/my-terraform-key.pem
timeout = 30
retry_files_enabled = False

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
